---
import { Font } from "astro:assets";
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-geist" preload />
    <Font cssVariable="--font-geist-mono" preload />
    <Font cssVariable="--font-yellowtail" />
    <Font cssVariable="--font-oswald" />
    <Font cssVariable="--font-zilla" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    {Astro.site && (
      <link rel="canonical" href={new URL(Astro.url.pathname, Astro.site).href} />
    )}
  </head>
  <body>
    <slot />
  </body>
</html>
