---
import { Font } from "astro:assets";
import SEO from "../components/SEO.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <script is:inline>document.documentElement.classList.add('js')</script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-geist" preload />
    <Font cssVariable="--font-geist-mono" preload />
    <Font cssVariable="--font-yellowtail" />
    <Font cssVariable="--font-oswald" />
    <Font cssVariable="--font-zilla" />
    <Font cssVariable="--font-outfit" preload />
    <SEO title={title} description={description} />
  </head>
  <body>
    <slot />
  </body>
</html>
